<app-header />
<main>
  <ul id="users">
    <!--
    <li *ngFor="let user of users">
      <app-user [user]="user" (selectedUser)="onSelectUser($event)" />
    </li>  -->
    <!-- Nova sintaxe @for a partir do Angular 17, pode ser usada para templates mais simples, para os mais complexos o @ngFor ainda é melhor e tem mais opções -->
    @for (user of users; track user.id) {
      <app-user [user]="user" (selectedUser)="onSelectUser($event)" />
    }
  </ul>
  <app-tasks [userName]="selectedUser?.name" />
</main>
