<app-header />
<main>
  <ul id="users">
    <!--
    <li *ngFor="let user of users">
      <app-user [user]="user" (selectedUser)="onSelectUser($event)" />
    </li>  -->
    <!-- Nova sintaxe @for a partir do Angular 17, pode ser usada para templates mais simples, para os mais complexos o @ngFor ainda é melhor e tem mais opções -->
    @for (user of users; track user.id) {
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (selectedUser)="onSelectUser($event)"
      />
    }
  </ul>
  <!--
  <div *ngIf="selectedUser; else fallback">
    <app-tasks [userName]="selectedUser.name" />
  </div>
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks</p>
  </ng-template>
  -->
  <!-- Nova sintaxe @if a partir do Angular 17, assim como o@for não depende do CommonModule -->
  @if (selectedUser) {
    <app-tasks [userId]="selectedUser.id" [userName]="selectedUser.name" />
  } @else {
    <p id="fallback">Select a user to see their tasks</p>
  }
</main>
